<<<<<<< HEAD
.titre-home-3min{
  color: white;
  font-weight: bold;
  font-size: 55px;
=======
.larodbtn{
  margin-top: 3%;
}
.leconteneur{
  margin-top: 5%;
>>>>>>> 28e0fbe7eac2263001189ccefe8911826003c7b1
}
