<div class="container-fluid home-fond">
  <div class="row">
    <div class="col-xs-12 text-center">
      <p class="text-fond">Le premier site de Speed-Dating en ligne.<br /> Des rencontres simple, rapide et de qualité !!<br /> Rejoignez nous !!</p>
    </div>
  </div>
  <div class="row ligne-bouton-connect">
    <div class="col-xs-6 text-right">
      <button ng-click="btnInscri()" class="home-bouton hvr-grow" type="button" name="button">Inscrivez vous !!</button>
    </div>
    <div class="col-xs-6 text-left">
      <button ng-click="btnLogin()" class="home-bouton hvr-grow" type="button" name="button">Connecte toi</button>
    </div>
  </div>
</div>
