<div class="container-fluid">
  <div class="row">
    <div class="col col-lg-offset-6">
      <video id="video"></video>
      <canvas id="canvas"></canvas>
      <!-- <div class="loader"></div> -->
    </div>
  </div>
</div>
<button type="button" class="btn btn-success" name="button" ng-click='videoCams()'>Video et son</button>
<button type="button" class="btn btn-danger" name="button" ng-click="noVideo()">Son sans Video</button>
<button type="button" class="btn btn-danger" name="button" ng-click="noSong()">Video sans son</button>
