<div class="soie">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h1 class="titre-select">Avec lequel de ces participant voulez vous continuez de tchatez ? </h1>
      </div>
    </div>
  </div>

  <div class="container text-center" ng-show="ajoute">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="ajoute">Désormais dans votre liste de contact.</h2>
      </div>
    </div>
  </div>
  <div class="container text-center" ng-show="delete">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="supr">Supprimez de vos futur selection</h2>
      </div>
    </div>
  </div>
  <div class="container bloc-user text-center after-choise bordure-user" ng-show="contain">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-3 img">
            <img class="img-circle hvr-grow" src="img/winner/1.jpg" height="110" width="100">
          </div>
          <div class="col-xs-5 text-acroche-speed">
            <p>Ceci est le texte d'accroche de la personne avec qui vous avec eut une session de speed-dating <br /> cela vous permettras peut etre de de vous rappellez exactement de la personne</p>
          </div>
          <div class="col-xs-2">
            <div class="row checkmark">
              <div class="col-xs-12">
                <img class="hvr-grow" ng-click="validate()" heigth="40" width="40" src="/img/checkmark .png" alt="">
              </div>
              <div class="col-xs-12">
                <img class="speed-img-no hvr-grow" ng-click="nul()" heigth="40" width="40" ng-click="refused()" src="img/no.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center" ng-show="ajoute1">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="ajoute">Désormais dans votre liste de contact.</h2>
      </div>
    </div>
  </div>
  <div class="container bloc-user text-center after-choise bordure-user" ng-show="contain1">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-3 img">
            <img class="img-circle hvr-grow" src="img/winner/2.jpg" height="110" width="100">
          </div>
          <div class="col-xs-5 text-acroche-speed">
            <p>Ceci est le texte d'accroche de la personne avec qui vous avec eut une session de speed-dating <br /> cela vous permettras peut etre de de vous rappellez exactement de la personne</p>
          </div>
          <div class="col-xs-2">
            <div class="row checkmark">
              <div class="col-xs-12">
                <img class="hvr-grow" ng-click="validate1()" heigth="40" width="40" src="/img/checkmark .png" alt="">
              </div>
              <div class="col-xs-12">
                <img class="speed-img-no hvr-grow" heigth="40" width="40" ng-click="refused()" src="img/no.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center" ng-show="ajoute2">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="ajoute">Désormais dans votre liste de contact.</h2>
      </div>
    </div>
  </div>
  <div class="container bloc-user text-center after-choise bordure-user" ng-show="contain2">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-3 img">
            <img class="img-circle hvr-grow" src="img/winner/3.jpg" height="110" width="100">
          </div>
          <div class="col-xs-5 text-acroche-speed">
            <p>Ceci est le texte d'accroche de la personne avec qui vous avec eut une session de speed-dating <br /> cela vous permettras peut etre de de vous rappellez exactement de la personne</p>
          </div>
          <div class="col-xs-2">
            <div class="row checkmark">
              <div class="col-xs-12">
                <img class="hvr-grow" ng-click="validate2()" heigth="40" width="40" src="/img/checkmark .png" alt="">
              </div>
              <div class="col-xs-12">
                <img class="speed-img-no hvr-grow" heigth="40" width="40" ng-click="refused()" src="img/no.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center" ng-show="ajoute3">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="ajoute">Désormais dans votre liste de contact.</h2>
      </div>
    </div>
  </div>
  <div class="container bloc-user text-center after-choise bordure-user" ng-show="contain3">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-3 img">
            <img class="img-circle hvr-grow" src="img/winner/4.jpg" height="110" width="100">
          </div>
          <div class="col-xs-5 text-acroche-speed">
            <p>Ceci est le texte d'accroche de la personne avec qui vous avec eut une session de speed-dating <br /> cela vous permettras peut etre de de vous rappellez exactement de la personne</p>
          </div>
          <div class="col-xs-2">
            <div class="row checkmark">
              <div class="col-xs-12">
                <img class="hvr-grow" ng-click="validate3()" heigth="40" width="40" src="/img/checkmark .png" alt="">
              </div>
              <div class="col-xs-12">
                <img class="speed-img-no hvr-grow" heigth="40" width="40" ng-click="refused()" src="img/no.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center" ng-show="ajoute4">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="ajoute">Désormais dans votre liste de contact.</h2>
      </div>
    </div>
  </div>
  <div class="container bloc-user text-center after-choise bordure-user" ng-show="contain4">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-3 img">
            <img class="img-circle hvr-grow" src="img/winner/5.jpg" height="110" width="100">
          </div>
          <div class="col-xs-5 text-acroche-speed">
            <p>Ceci est le texte d'accroche de la personne avec qui vous avec eut une session de speed-dating <br /> cela vous permettras peut etre de de vous rappellez exactement de la personne</p>
          </div>
          <div class="col-xs-2">
            <div class="row checkmark">
              <div class="col-xs-12">
                <img class="hvr-grow" ng-click="validate4()" heigth="40" width="40" src="/img/checkmark .png" alt="">
              </div>
              <div class="col-xs-12">
                <img class="speed-img-no hvr-grow" heigth="40" width="40" ng-click="refused()" src="img/no.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center" ng-show="ajoute5">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="ajoute">Désormais dans votre liste de contact.</h2>
      </div>
    </div>
  </div>
  <div class="container bloc-user text-center after-choise bordure-user" ng-show="contain5">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-3 img">
            <img class="img-circle hvr-grow" src="img/winner/6.jpg" height="110" width="100">
          </div>
          <div class="col-xs-5 text-acroche-speed">
            <p>Ceci est le texte d'accroche de la personne avec qui vous avec eut une session de speed-dating <br /> cela vous permettras peut etre de de vous rappellez exactement de la personne</p>
          </div>
          <div class="col-xs-2">
            <div class="row checkmark">
              <div class="col-xs-12">
                <img class="hvr-grow" ng-click="validate5()" heigth="40" width="40" src="/img/checkmark .png" alt="">
              </div>
              <div class="col-xs-12">
                <img class="speed-img-no hvr-grow" heigth="40" width="40" ng-click="refused()" src="img/no.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center" ng-show="ajoute6">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="ajoute">Désormais dans votre liste de contact.</h2>
      </div>
    </div>
  </div>
  <div class="container bloc-user text-center after-choise bordure-user" ng-show="contain6">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-3 img">
            <img class="img-circle hvr-grow" src="img/winner/7.jpg" height="110" width="100">
          </div>
          <div class="col-xs-5 text-acroche-speed">
            <p>Ceci est le texte d'accroche de la personne avec qui vous avec eut une session de speed-dating <br /> cela vous permettras peut etre de de vous rappellez exactement de la personne</p>
          </div>
          <div class="col-xs-2">
            <div class="row checkmark">
              <div class="col-xs-12">
                <img class="hvr-grow" ng-click="validate6()" heigth="40" width="40" src="/img/checkmark .png" alt="">
              </div>
              <div class="col-xs-12">
                <img class="speed-img-no hvr-grow" heigth="40" width="40" ng-click="refused()" src="img/no.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center" ng-show="ajoute7">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="ajoute">Désormais dans votre liste de contact.</h2>
      </div>
    </div>
  </div>
  <div class="container bloc-user text-center after-choise bordure-user" ng-show="contain7">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-3 img">
            <img class="img-circle hvr-grow" src="img/winner/8.jpg" height="110" width="100">
          </div>
          <div class="col-xs-5 text-acroche-speed">
            <p>Ceci est le texte d'accroche de la personne avec qui vous avec eut une session de speed-dating <br /> cela vous permettras peut etre de de vous rappellez exactement de la personne</p>
          </div>
          <div class="col-xs-2">
            <div class="row checkmark">
              <div class="col-xs-12">
                <img class="hvr-grow" ng-click="validate7()" heigth="40" width="40" src="/img/checkmark .png" alt="">
              </div>
              <div class="col-xs-12">
                <img class="speed-img-no hvr-grow" heigth="40" width="40" ng-click="refused()" src="img/no.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center" ng-show="ajoute8">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="ajoute">Désormais dans votre liste de contact.</h2>
      </div>
    </div>
  </div>
  <div class="container bloc-user text-center after-choise bordure-user" ng-show="contain8">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-3 img">
            <img class="img-circle hvr-grow" src="img/winner/9.jpg" height="110" width="100">
          </div>
          <div class="col-xs-5 text-acroche-speed">
            <p>Ceci est le texte d'accroche de la personne avec qui vous avec eut une session de speed-dating <br /> cela vous permettras peut etre de de vous rappellez exactement de la personne</p>
          </div>
          <div class="col-xs-2">
            <div class="row checkmark">
              <div class="col-xs-12">
                <img class="hvr-grow" ng-click="validate8()" heigth="40" width="40" src="/img/checkmark .png" alt="">
              </div>
              <div class="col-xs-12">
                <img class="speed-img-no hvr-grow" heigth="40" width="40" ng-click="refused()" src="img/no.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center" ng-show="ajoute9">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="ajoute">Désormais dans votre liste de contact.</h2>
      </div>
    </div>
  </div>
  <div class="container bloc-user text-center after-choise bordure-user" ng-show="contain9">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-3 img">
            <img class="img-circle hvr-grow" src="img/winner/10.jpg" height="110" width="100">
          </div>
          <div class="col-xs-5 text-acroche-speed">
            <p>Ceci est le texte d'accroche de la personne avec qui vous avec eut une session de speed-dating <br /> cela vous permettras peut etre de de vous rappellez exactement de la personne</p>
          </div>
          <div class="col-xs-2">
            <div class="row checkmark">
              <div class="col-xs-12">
                <img class="hvr-grow" ng-click="validate9()" heigth="40" width="40" src="/img/checkmark .png" alt="">
              </div>
              <div class="col-xs-12">
                <img class="speed-img-no hvr-grow" heigth="40" width="40" ng-click="refused()" src="img/no.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
