<div class="container-fluid main-chrono-contain">
  <div class="row text-center">
    <div class="col-xs-12">
      <h2 class="text-main">Inscrivez vous pour notre prochain Speed-Dating en ligne !!</h2>
    </div>
    <div class="col-xs-12 main-timer text-main">
      <h2>Écrivez votre histoire dans ...</h2>
      <h1><timer interval="1000" countdown="600"> {{minutes}} minutes, {{seconds}} seconds.</timer></h1>

    </div>
    <div class="col-xs-12">
      <button class="home-bouton2 hvr-grow" type="button" name="button">Participez !!</button>
    </div>
  </div>
</div>

<div class="container contact-marge">
  <div class="row">
    <div class="col-xs-12 text-left">
      <h2>Mes contacts</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-1">
        <img class="img-circle hvr-grow" src="/img/winner/5.jpg" alt="">
      </div>
      <div class="col-xs-1">
        <img class="img-circle hvr-grow" src="/img/winner/8.jpg" alt="">
      </div>
      <div class="col-xs-1">
        <img class="img-circle hvr-grow" src="/img/winner/9.jpg" alt="">
      </div>
      <div class="col-xs-1">
        <img class="img-circle hvr-grow" src="/img/winner/10.jpg" alt="">
      </div>
      <div class="col-xs-1">
        <img class="img-circle hvr-grow" src="/img/winner/2.jpg" alt="">
      </div>
      <div class="col-xs-1">
        <p class="text-plus"><a href="#">voir plus...</a></p>
      </div>
  </div>

</div>
